{% extends 'base.html.twig' %}
{% block box %}
    <h1 class="font-heading text-gray-400 dark:text-gray-600">
        Transform your links now
    </h1>

    {% if error %}
        <h1 class="text-red-500 mt-2 font-heading text-sm">
            {{ error }}
        </h1>
    {% endif %}

    <form class="flex flex-col mb-3" method="post" action="/link">
        <input class="mt-6 p-2 rounded-lg dark:border-slate-600 dark:bg-slate-600" placeholder="Original Link" type="url" name="link" required>
        <input class="mt-6 font-heading text-gray-600 border-2 dark:border-slate-600 rounded-lg shadow-lg hover:shadow-xl p-2" type="submit" value="Shorten!" name="submit">
    </form>
{% endblock %}